In [1]:
import numpy as np
import pandas as pd

from pathlib import Path

In [2]:
# defining the directory to relevant data
directory = Path('./data/')
# list the .csv files for the project
for file in directory.glob('*.csv'):
    print(file)

data/accidents2019.csv
data/casualties2019.csv
data/vehicles2019.csv

In [3]:
# reading in .csv files to dataframes
vehicles = pd.read_csv(directory / 'vehicles2019.csv', dtype={'Accident_Index': str})
casualties = pd.read_csv(directory / 'casualties2019.csv', dtype={'Accident_Index': str})
accidents = pd.read_csv(directory / 'accidents2019.csv', dtype={'Accident_Index': str,
                                                                'LSOA_of_Accident_Location': str})

def lower_columns(df):
    """
    Defintion:
        convert column names to lower case
    """
    df.columns = map(str.lower, df.columns)
    
# converting all column names to lower case
lower_columns(vehicles)
lower_columns(casualties)
lower_columns(accidents)

accident_index                                    0
location_easting_osgr                            28
location_northing_osgr                           28
longitude                                        28
latitude                                         28
police_force                                      0
accident_severity                                 0
number_of_vehicles                                0
number_of_casualties                              0
date                                              0
day_of_week                                       0
time                                             63
local_authority_(district)                        0
local_authority_(highway)                         0
1st_road_class                                    0
1st_road_number                                   0
road_type                                         0
speed_limit                                       0
junction_detail                                   0
junction_control                                  0
2nd_road_class                                    0
2nd_road_number                                   0
pedestrian_crossing-human_control                 0
pedestrian_crossing-physical_facilities           0
light_conditions                                  0
weather_conditions                                0
road_surface_conditions                           0
special_conditions_at_site                        0
carriageway_hazards                               0
urban_or_rural_area                               0
did_police_officer_attend_scene_of_accident       0
lsoa_of_accident_location                      5714
dtype: int64

dtype('<M8[ns]')

converted_date dtype: datetime64[ns]
converted_time dtype: object
<class 'datetime.time'>

             datetime   time converted_time  decimal_time
0 2019-02-18 17:50:00  17:50       17:50:00     17.833333
1 2019-01-15 21:45:00  21:45       21:45:00     21.750000
2 2019-01-01 01:50:00  01:50       01:50:00      1.833333
3 2019-01-01 01:20:00  01:20       01:20:00      1.333333
4 2019-01-01 00:40:00  00:40       00:40:00      0.666667

                  datetime  day_of_year
0      2019-02-18 17:50:00         49.0
1      2019-01-15 21:45:00         15.0
2      2019-01-01 01:50:00          1.0
3      2019-01-01 01:20:00          1.0
4      2019-01-01 00:40:00          1.0
...                    ...          ...
117531 2019-05-18 01:00:00        138.0
117532 2019-05-30 08:46:00        150.0
117533 2019-06-21 15:30:00        172.0
117534 2019-06-29 14:10:00        180.0
117535 2019-04-21 12:45:00        111.0

[117536 rows x 2 columns]