# Big Data Project

## Contents

The code written for this report is partitioned into separate notebooks according to topic.

A general guidel, according to the structure of the report, would to be to view in the following order:

1. data_cleaning.ipynb + (data_generation.ipynb)
2. EDA.ipynb
3. clustering.ipynb
4. hypothesis_rural_accidents.ipynb
5. hypothesis_sunrise_sunset.ipynb
6. hypothesis_football.ipynb
7. predictive_model.ipynb

## Packages
Importing all necessary packages to run the notebook

In [1]:
# packages for data manipulation
from pathlib import Path
import numpy as np
import pandas as pd
import datetime
import pickle

## Directory navigation and creation
Creating pathlib.Path objects for cross-platform navigation and loading the three datasets into pandas DataFrame objects

In [4]:
# creating Path object for current working directory
cwd = Path('./')
root = cwd.resolve().parent
# creating Path object for additional data directory
additional_data_dir = root / 'additional_data'
# create new directory for additional data
Path(additional_data_dir).mkdir(exist_ok=True)

# creating Path object for plots directroy
plots_dir = root / 'plots'
# create new directory for plots
Path(plots_dir).mkdir(exist_ok=True)

# defining the directory to original data
data_dir = root / 'data'
additional_directory = root / 'additional_data'

# list the .csv files for the project
print("Data file locations:\n")
for file in data_dir.glob('*.csv'):
    print(file)
    
# reading in .csv files to dataframes
vehicles = pd.read_csv(data_dir / 'vehicles2019.csv', dtype={'Accident_Index': str})
casualties = pd.read_csv(data_dir / 'casualties2019.csv', dtype={'Accident_Index': str})
# cleaned accidents DataFrame
accidents = pd.read_csv(data_dir / 'accidents2019.csv', dtype={'Accident_Index': str,
                                                               'LSOA_of_Accident_Location': str})

# convert column names to lowercase for ease of indexing
def lower_columns(df):
    """
    Defintion:
        convert column names to lower case
    """
    df.columns = map(str.lower, df.columns)
    
# converting all column names to lower case
lower_columns(vehicles)
lower_columns(casualties)
lower_columns(accidents)

accidents.head(5)

Data file locations:

/Volumes/GoogleDrive/My Drive/Dev/TrafficAccidents/data/accidents2019.csv
/Volumes/GoogleDrive/My Drive/Dev/TrafficAccidents/data/casualties2019.csv
/Volumes/GoogleDrive/My Drive/Dev/TrafficAccidents/data/vehicles2019.csv

,accident_index,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,...,pedestrian_crossing-human_control,pedestrian_crossing-physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,lsoa_of_accident_location
0,2019010128300,528218.0,180407.0,-0.153842,51.508057,1,3,2,3,18/02/2019,...,0,5,1,1,1,0,0,1,3,E01004762
1,2019010152270,530219.0,172463.0,-0.127949,51.436208,1,3,2,1,15/01/2019,...,-1,-1,4,1,1,0,0,1,3,E01003117
2,2019010155191,530222.0,182543.0,-0.124193,51.526795,1,3,2,1,01/01/2019,...,0,0,4,1,1,0,0,1,1,E01000943
3,2019010155192,525531.0,184605.0,-0.191044,51.546387,1,2,1,1,01/01/2019,...,0,0,4,1,1,0,0,1,1,E01000973
4,2019010155194,524920.0,184004.0,-0.200064,51.541121,1,3,2,2,01/01/2019,...,0,0,4,1,1,0,0,1,1,E01000546

In [5]:
# checking features with NaN values
accidents.isnull().sum()

accident_index                                    0
location_easting_osgr                            28
location_northing_osgr                           28
longitude                                        28
latitude                                         28
police_force                                      0
accident_severity                                 0
number_of_vehicles                                0
number_of_casualties                              0
date                                              0
day_of_week                                       0
time                                             63
local_authority_(district)                        0
local_authority_(highway)                         0
1st_road_class                                    0
1st_road_number                                   0
road_type                                         0
speed_limit                                       0
junction_detail                                   0
junction_control                                  0
2nd_road_class                                    0
2nd_road_number                                   0
pedestrian_crossing-human_control                 0
pedestrian_crossing-physical_facilities           0
light_conditions                                  0
weather_conditions                                0
road_surface_conditions                           0
special_conditions_at_site                        0
carriageway_hazards                               0
urban_or_rural_area                               0
did_police_officer_attend_scene_of_accident       0
lsoa_of_accident_location                      5714
dtype: int64

In [6]:
accidents.shape

(117536, 32)

## Data Cleaning and Feature Creation

The two main areas of data cleaning is for the geospatial coordinates (28 NaN) and time (63 NAN)

1. Latitude and longitude imputation
    
    **source**: https://simplemaps.com/data/gb-cities
    
    
    
2. Datetime formatting and time imputation

    **source**: https://www.sunrise-and-sunset.com/en/sun/united-kingdom/london/2019/

### Latitude and Longitude

In [7]:
# import the local_authority.csv file of local_athority data that came with the original accident data
local_authorities = pd.read_csv(additional_directory / 'local_authority.csv')
local_authorities.columns = ['local_authority_(district)', 'district']

# merge the accidents dataframe with the local_authorities dataframe on 'local_authority_(district)'
accidents = pd.merge(accidents, local_authorities, on=['local_authority_(district)'])

accidents[['longitude', 'latitude', 'local_authority_(district)', 'district']]
accidents.district = accidents.district.str.lower().str.strip()

In [8]:
# import the latitude, longitude and admin_name columns of the city_coords.csv file
cities = pd.read_csv(additional_directory / 'city_coords.csv', usecols=['lat', 'lng', 'admin_name'])
cities.columns = ['latitude_new', 'longitude_new', 'district']
cities.district = cities.district.str.lower()
cities

      latitude_new  longitude_new             district
0          51.5072        -0.1275      london, city of
1          52.4800        -1.9025           birmingham
2          53.4794        -2.2453           manchester
3          53.7997        -1.5492                leeds
4          55.0077        -1.6578  newcastle upon tyne
...            ...            ...                  ...
2675       53.4960        -1.4120            rotherham
2676       57.2670        -2.1920        aberdeenshire
2677       51.6116        -3.5842             bridgend
2678       51.1536         1.3714                 kent
2679       52.0500        -0.6940        milton keynes

[2680 rows x 3 columns]

In [9]:
# print the 'district' of instances with missing coordinate data
missing_districts = accidents[accidents.longitude.isnull()]['district']
print(f"Districts with missing coordinate data: {set(missing_districts)}")
len(missing_districts)
missing_districts.value_counts()

Districts with missing coordinate data: {'west dorset', 'adur', 'wigan', 'selby', 'cheshire west and chester', 'north east lincolnshire', 'medway', 'powys', 'flintshire', 'rugby', 'liverpool', 'warrington', 'wirral', 'scarborough', 'harrogate', 'hambleton', 'cheshire east', 'ryedale', 'wakefield', 'cardiff'}

hambleton                    4
harrogate                    3
selby                        3
ryedale                      2
north east lincolnshire      1
cardiff                      1
flintshire                   1
west dorset                  1
adur                         1
medway                       1
rugby                        1
wigan                        1
wakefield                    1
wirral                       1
scarborough                  1
warrington                   1
cheshire west and chester    1
cheshire east                1
liverpool                    1
powys                        1
Name: district, dtype: int64

In [10]:
# determine the 'districts' with missing coordinate data in our data set that are not in the city_coords.csv file
set(missing_districts) - set(cities.district)

{'adur',
 'hambleton',
 'harrogate',
 'rugby',
 'ryedale',
 'scarborough',
 'selby',
 'west dorset'}

In [11]:
# manually add these districts to the cities df of the city_coords.csv file
manual_additions = pd.DataFrame(np.array([50.8348, 0.3101, 'adur', 
                                          54.2959, 1.3135, 'hambleton',
                                          53.9921, 1.5418, 'harrogate',
                                          52.3709, 1.2650, 'rugby',
                                          54.1698, 0.7282, 'ryedale', 
                                          54.2831, 0.3998, 'scarborough',
                                          53.7835, 1.0672, 'selby', 
                                          50.7755, 2.5817, 'west dorset']).reshape(-1, 3))
manual_additions.columns = ['latitude_new', 'longitude_new', 'district']
cities = pd.concat([cities, manual_additions], axis=0)

cities.shape

(2688, 3)

In [12]:
accidents.shape

(117536, 33)

In [13]:
# determine the 'districts' with missing coordinate data in our data set that are not in the city_coords.csv file
set(missing_districts) - set(cities.district)

set()

In [14]:
# determine the average coordinates for locations in this district in the cities df
cities = cities.groupby('district').median()
print(accidents.shape)
# inner-join the accidents dataframe with the cities dataframe on the 'district' column
accidents = accidents.merge(cities, on='district', how='left')
print(accidents.shape)

(117536, 33)
(117536, 35)

In [15]:
accidents

,accident_index,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,number_of_casualties,date,...,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,lsoa_of_accident_location,district,latitude_new,longitude_new
0,2019010128300,528218.0,180407.0,-0.153842,51.508057,1,3,2,3,18/02/2019,...,1,1,0,0,1,3,E01004762,westminster,NaN,NaN
1,2019010155414,527376.0,181377.0,-0.165618,51.516964,1,3,3,1,02/01/2019,...,1,1,0,0,1,3,E01004658,westminster,NaN,NaN
2,2019010155567,529979.0,180310.0,-0.128517,51.506783,1,2,1,1,03/01/2019,...,1,1,0,0,1,1,E01004736,westminster,NaN,NaN
3,2019010155601,527414.0,182102.0,-0.164808,51.523471,1,2,3,2,03/01/2019,...,1,1,0,0,1,1,E01004659,westminster,NaN,NaN
4,2019010155634,527616.0,181879.0,-0.161979,51.521422,1,3,2,1,03/01/2019,...,1,1,0,0,1,1,E01004661,westminster,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117531,2019984106919,312635.0,573392.0,-3.368899,55.047323,98,3,1,1,18/05/2019,...,1,2,0,0,2,1,NaN,dumfries and galloway,54.983,-3.603
117532,2019984107019,337522.0,591682.0,-2.983499,55.215407,98,3,4,1,30/05/2019,...,1,2,0,0,2,1,NaN,dumfries and galloway,54.983,-3.603
117533,2019984107219,318544.0,567087.0,-3.274645,54.991685,98,3,2,1,21/06/2019,...,1,1,0,0,2,2,NaN,dumfries and galloway,54.983,-3.603
117534,2019984107419,336525.0,584226.0,-2.997491,55.148292,98,3,1,1,29/06/2019,...,1,1,0,0,2,2,NaN,dumfries and galloway,54.983,-3.603
117535,201998QC01004,291367.0,608364.0,-3.715064,55.357237,98,2,1,1,21/04/2019,...,1,1,0,0,2,1,NaN,dumfries and galloway,54.983,-3.603

In [16]:
# impute the missing longitude and latitude values with the new longitude and latitude values from the cities dataframe
accidents.loc[accidents.longitude.isnull(), 'longitude'] = accidents.loc[accidents.longitude.isnull(), 'longitude_new']
accidents.loc[accidents.latitude.isnull(), 'latitude'] = accidents.loc[accidents.latitude.isnull(), 'latitude_new']

In [17]:
# drop the columns used for this imputation, as well as the osgr coordinates (replicated information)
accidents = accidents.drop(['location_easting_osgr', 'location_northing_osgr',
                            'latitude_new', 'longitude_new'], axis=1)
accidents.isnull().sum()

accident_index                                    0
longitude                                         0
latitude                                          0
police_force                                      0
accident_severity                                 0
number_of_vehicles                                0
number_of_casualties                              0
date                                              0
day_of_week                                       0
time                                             63
local_authority_(district)                        0
local_authority_(highway)                         0
1st_road_class                                    0
1st_road_number                                   0
road_type                                         0
speed_limit                                       0
junction_detail                                   0
junction_control                                  0
2nd_road_class                                    0
2nd_road_number                                   0
pedestrian_crossing-human_control                 0
pedestrian_crossing-physical_facilities           0
light_conditions                                  0
weather_conditions                                0
road_surface_conditions                           0
special_conditions_at_site                        0
carriageway_hazards                               0
urban_or_rural_area                               0
did_police_officer_attend_scene_of_accident       0
lsoa_of_accident_location                      5714
district                                          0
dtype: int64

In [18]:
accidents.shape

(117536, 31)

The `NaN` latitude and longitude values have been imputed.

### Datetime formatting

In [19]:
# create 'converted_date' and 'converted_column' features for manipulation of dates and times
accidents['converted_date'] = pd.to_datetime(accidents['date'],
                                              format='%d/%m/%Y')
accidents['converted_time'] = pd.to_datetime(accidents['time'],
                                             errors='coerce',
                                             format='%H:%M').dt.time

print(f'converted_date dtype: {accidents["converted_date"].dtype}')
print(f'converted_time dtype: {accidents["converted_time"].dtype}')
print(type(accidents['converted_time'][0]))

accidents[['converted_date', 'converted_time']]

converted_date dtype: datetime64[ns]
converted_time dtype: object
<class 'datetime.time'>

       converted_date converted_time
0          2019-02-18       17:50:00
1          2019-01-02       07:45:00
2          2019-01-03       10:45:00
3          2019-01-03       17:20:00
4          2019-01-03       19:10:00
...               ...            ...
117531     2019-05-18       01:00:00
117532     2019-05-30       08:46:00
117533     2019-06-21       15:30:00
117534     2019-06-29       14:10:00
117535     2019-04-21       12:45:00

[117536 rows x 2 columns]

So the converted_date column has a dtype of datetime64[ns]
and the converted_time column has a dtype of object consisting of datetime.time elements

In [20]:
# checking the number of values that are NaN
accidents.isnull().sum()

accident_index                                    0
longitude                                         0
latitude                                          0
police_force                                      0
accident_severity                                 0
number_of_vehicles                                0
number_of_casualties                              0
date                                              0
day_of_week                                       0
time                                             63
local_authority_(district)                        0
local_authority_(highway)                         0
1st_road_class                                    0
1st_road_number                                   0
road_type                                         0
speed_limit                                       0
junction_detail                                   0
junction_control                                  0
2nd_road_class                                    0
2nd_road_number                                   0
pedestrian_crossing-human_control                 0
pedestrian_crossing-physical_facilities           0
light_conditions                                  0
weather_conditions                                0
road_surface_conditions                           0
special_conditions_at_site                        0
carriageway_hazards                               0
urban_or_rural_area                               0
did_police_officer_attend_scene_of_accident       0
lsoa_of_accident_location                      5714
district                                          0
converted_date                                    0
converted_time                                   63
dtype: int64

In [21]:
accidents.shape

(117536, 33)

### Cleaning the time column

In [22]:
# rows with time column == NaT
accidents[accidents['converted_time'].isnull()][['converted_date',
                                                 'converted_time',
                                                'light_conditions']]

       converted_date converted_time  light_conditions
136        2019-02-10            NaT                 4
152        2019-02-14            NaT                 4
1009       2019-09-02            NaT                 4
1232       2019-10-25            NaT                 4
2277       2019-08-30            NaT                 4
...               ...            ...               ...
43902      2019-02-11            NaT                 7
44073      2019-06-04            NaT                 1
44100      2019-06-19            NaT                 1
44126      2019-07-06            NaT                 1
112099     2019-02-19            NaT                 4

[63 rows x 3 columns]

### Checking for correlation between time and light_conditions

In [23]:
light = accidents.loc[accidents.converted_time.notnull(), ['converted_time', 'light_conditions']]

# adding dummy date to converted-time column for manipulation
date = str(datetime.datetime.strptime('2018-01-01', '%Y-%m-%d').date())
light['converted_time'] = pd.to_datetime(date + " " + light.converted_time.astype(str))

# do one-hot encoding for the light_conditions column
light = pd.concat([light, pd.get_dummies(light.light_conditions)], axis=1).drop(['light_conditions', -1], axis=1)
#srss['average_time'] = srss.apply(lambda row: find_avg_time(row.sunrise, row.sunset), axis=1)
light.columns = ['time', 'daylight', 'lights_lit',
                 'lights_unlit', 'no_lighting', 'unknown']

# group the dataframe by hour of day
light.groupby(pd.Grouper(key='time', freq='H')).sum()

                     daylight  lights_lit  lights_unlit  no_lighting  unknown
time
2018-01-01 00:00:00      86.0      1250.0          39.0        351.0    104.0
2018-01-01 01:00:00      76.0       865.0          42.0        265.0     79.0
2018-01-01 02:00:00      78.0       613.0          18.0        204.0     53.0
2018-01-01 03:00:00      71.0       536.0          16.0        152.0     52.0
2018-01-01 04:00:00     148.0       433.0          20.0        135.0     55.0
2018-01-01 05:00:00     401.0       454.0          21.0        216.0     77.0
2018-01-01 06:00:00    1374.0       630.0          37.0        251.0    112.0
2018-01-01 07:00:00    4558.0       457.0          34.0        166.0    138.0
2018-01-01 08:00:00    7996.0        60.0          19.0         34.0     18.0
2018-01-01 09:00:00    5426.0        36.0          15.0         10.0     10.0
2018-01-01 10:00:00    5123.0        41.0          12.0          9.0      5.0
2018-01-01 11:00:00    5873.0        38.0          12.0         21.0     16.0
2018-01-01 12:00:00    6522.0        46.0          11.0          7.0     15.0
2018-01-01 13:00:00    6860.0        44.0          15.0          9.0     18.0
2018-01-01 14:00:00    6905.0        47.0          17.0         13.0     11.0
2018-01-01 15:00:00    8807.0       229.0          38.0         66.0     32.0
2018-01-01 16:00:00    7502.0      1440.0          73.0        310.0    137.0
2018-01-01 17:00:00    6626.0      2608.0          89.0        596.0    279.0
2018-01-01 18:00:00    4559.0      2777.0          91.0        623.0    297.0
2018-01-01 19:00:00    2698.0      2676.0          77.0        497.0    286.0
2018-01-01 20:00:00    1239.0      2474.0          61.0        530.0    232.0
2018-01-01 21:00:00     376.0      2488.0          51.0        565.0    223.0
2018-01-01 22:00:00     111.0      2403.0          40.0        597.0    210.0
2018-01-01 23:00:00      71.0      1731.0          43.0        465.0    168.0

In [24]:
# read in sunrise_sunset.csv as dataframe
srss = pd.read_csv(additional_directory / 'sunrise_sunset.csv')

# string formatting
srss['sunrise'] = srss['sunrise'] + ':00'
srss['sunset'] = srss['sunset'] + ':00'
srss['day_length'] = srss['day_length'] + ':00'
# create converted_date feature as np.datetime64 dtype
srss['converted_date'] = pd.to_datetime(srss['date'])
# drop original date column
srss = srss.drop(['date'], axis=1)
# convert sunrise and sunset to np.timedelta64 dtype
srss['sunrise'] = pd.to_timedelta(srss['sunrise'])
srss['sunset'] = pd.to_timedelta(srss['sunset'])


def find_avg_time(first_time, second_time):
    """
    Description:
        Given two times, find the average time between them
        (t1 + t2) / 2
    """
    time1_s = first_time.total_seconds()
    time2_s = second_time.total_seconds()
    time = (time1_s + time2_s) / 2 - 3600
    return datetime.datetime.fromtimestamp(time).strftime("%H:%M")
    
# create average time column using the find_avg_time function
srss['average_time'] = srss.apply(lambda row: find_avg_time(row.sunrise, row.sunset), axis=1)

In [25]:
srss

            sunrise          sunset day_length converted_date average_time
0   0 days 08:06:00 0 days 16:01:00   07:54:00     2019-01-01        12:03
1   0 days 08:06:00 0 days 16:02:00   07:55:00     2019-01-02        12:04
2   0 days 08:06:00 0 days 16:03:00   07:56:00     2019-01-03        12:04
3   0 days 08:06:00 0 days 16:04:00   07:58:00     2019-01-04        12:05
4   0 days 08:06:00 0 days 16:05:00   07:59:00     2019-01-05        12:05
..              ...             ...        ...            ...          ...
360 0 days 08:06:00 0 days 15:56:00   07:49:00     2019-12-27        12:01
361 0 days 08:06:00 0 days 15:57:00   07:50:00     2019-12-28        12:01
362 0 days 08:06:00 0 days 15:58:00   07:51:00     2019-12-29        12:02
363 0 days 08:06:00 0 days 15:59:00   07:52:00     2019-12-30        12:02
364 0 days 08:06:00 0 days 15:59:00   07:53:00     2019-12-31        12:02

[365 rows x 5 columns]

In [26]:
# drop columns which are not needed
#srss = srss.drop(['sunrise', 'sunset', 'day_length'], axis=1)
# merge useful columns of srss to accidents dataframe on converted_date column
accidents = pd.merge(accidents, srss, on=['converted_date'])

accidents.columns

Index(['accident_index', 'longitude', 'latitude', 'police_force',
       'accident_severity', 'number_of_vehicles', 'number_of_casualties',
       'date', 'day_of_week', 'time', 'local_authority_(district)',
       'local_authority_(highway)', '1st_road_class', '1st_road_number',
       'road_type', 'speed_limit', 'junction_detail', 'junction_control',
       '2nd_road_class', '2nd_road_number',
       'pedestrian_crossing-human_control',
       'pedestrian_crossing-physical_facilities', 'light_conditions',
       'weather_conditions', 'road_surface_conditions',
       'special_conditions_at_site', 'carriageway_hazards',
       'urban_or_rural_area', 'did_police_officer_attend_scene_of_accident',
       'lsoa_of_accident_location', 'district', 'converted_date',
       'converted_time', 'sunrise', 'sunset', 'day_length', 'average_time'],
      dtype='object')

In [27]:
# mask for values with null values in converted_time column
missing_time_mask = accidents["converted_time"].isnull()

# impute missing times with average time 
accidents.loc[missing_time_mask, 'converted_time'] = accidents.loc[missing_time_mask, 'average_time']

accidents = accidents.drop(['average_time'], axis=1)
accidents.columns

Index(['accident_index', 'longitude', 'latitude', 'police_force',
       'accident_severity', 'number_of_vehicles', 'number_of_casualties',
       'date', 'day_of_week', 'time', 'local_authority_(district)',
       'local_authority_(highway)', '1st_road_class', '1st_road_number',
       'road_type', 'speed_limit', 'junction_detail', 'junction_control',
       '2nd_road_class', '2nd_road_number',
       'pedestrian_crossing-human_control',
       'pedestrian_crossing-physical_facilities', 'light_conditions',
       'weather_conditions', 'road_surface_conditions',
       'special_conditions_at_site', 'carriageway_hazards',
       'urban_or_rural_area', 'did_police_officer_attend_scene_of_accident',
       'lsoa_of_accident_location', 'district', 'converted_date',
       'converted_time', 'sunrise', 'sunset', 'day_length'],
      dtype='object')

In [28]:
# create a single 'datetime' feature in ISO 8601 format
# using numpy.datetime64 object

accidents['datetime'] = pd.to_datetime(accidents['converted_date'].astype(str) + " " + accidents['converted_time'].astype(str),
               format = '%Y-%m-%d %H:%M:%S')

# dropping the original date and time columns
accidents = accidents.drop(['date', 'time'], axis=1)
accidents['datetime']

0        2019-02-18 17:50:00
1        2019-02-18 18:50:00
2        2019-02-18 23:00:00
3        2019-02-18 02:00:00
4        2019-02-18 08:00:00
                 ...
117531   2019-04-21 10:11:00
117532   2019-04-21 11:10:00
117533   2019-04-21 08:10:00
117534   2019-04-21 16:20:00
117535   2019-04-21 12:45:00
Name: datetime, Length: 117536, dtype: datetime64[ns]

In [29]:
# time column is now cleaned
accidents.isnull().sum()

accident_index                                    0
longitude                                         0
latitude                                          0
police_force                                      0
accident_severity                                 0
number_of_vehicles                                0
number_of_casualties                              0
day_of_week                                       0
local_authority_(district)                        0
local_authority_(highway)                         0
1st_road_class                                    0
1st_road_number                                   0
road_type                                         0
speed_limit                                       0
junction_detail                                   0
junction_control                                  0
2nd_road_class                                    0
2nd_road_number                                   0
pedestrian_crossing-human_control                 0
pedestrian_crossing-physical_facilities           0
light_conditions                                  0
weather_conditions                                0
road_surface_conditions                           0
special_conditions_at_site                        0
carriageway_hazards                               0
urban_or_rural_area                               0
did_police_officer_attend_scene_of_accident       0
lsoa_of_accident_location                      5714
district                                          0
converted_date                                    0
converted_time                                    0
sunrise                                           0
sunset                                            0
day_length                                        0
datetime                                          0
dtype: int64

In [30]:
# create a decimal time column using the time component of 'converted_time'
def convert_to_decimal(df, new_col, original_col='datetime',):
    """Convert datetime.time value to decimal"""
    df[new_col] = df[original_col].dt.hour + df[original_col].dt.minute / 60
    
# create decimal_time column
convert_to_decimal(accidents, 'decimal_time', 'datetime')

accidents.loc[:, ['datetime', 'decimal_time']].head(5)

             datetime  decimal_time
0 2019-02-18 17:50:00     17.833333
1 2019-02-18 18:50:00     18.833333
2 2019-02-18 23:00:00     23.000000
3 2019-02-18 02:00:00      2.000000
4 2019-02-18 08:00:00      8.000000

In [31]:
def to_day_of_year(datetime_val):
    """Return the day of the year for a given datetime.date value"""
    return datetime_val.dayofyear

accidents['day_of_year'] = accidents['datetime'].apply(to_day_of_year)
accidents['day_of_year'] = accidents['day_of_year'].fillna(-10)
accidents['day_of_year'] = accidents['day_of_year'].astype('int32')

# 10 randomly sampled columns
accidents.loc[:, ['datetime', 'day_of_year']].sample(10)

                 datetime  day_of_year
59099 2019-07-15 17:50:00          196
82171 2019-09-25 14:54:00          268
19660 2019-03-07 15:30:00           66
77820 2019-09-13 09:00:00          256
81286 2019-09-23 16:00:00          266
94124 2019-10-31 18:35:00          304
40214 2019-05-17 16:18:00          137
97164 2019-11-09 01:43:00          313
40769 2019-05-20 07:50:00          140
43032 2019-05-27 18:00:00          147

## Exporting cleaned dataframe

The cleaned dataframe is exported in serialised pickle format so that it can be read into other notebooks without losing datatypes.

In [32]:
# save serialised dataframe for loading in other notebooks
accidents.to_pickle(additional_data_dir / 'accidents_cleaned.pkl')